h1{
    text-align: center;
    background-color: darkorchid;
    color: darkturquoise;
    line-height: 40px;
}
h2{
    text-align: center;
    color: darkorchid;
    background-color: darkturquoise;
    line-height: 40px;
}